auto-save-list
elpa/
.smex-items
ac-comphist.dat
ido.last
recentf
games/
bookmarks
url/
custom.el
.cache/
custom.el*
session.*
.lsp-session*
recentf*
projectile-bookmarks.eld
transient/history.el
eshell/history
